*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}
.cent{
    width: 100%;
    display: flex;
    justify-content:center;
}
.tool{
    background-color:rgb(126, 197, 227);
    display: flex;
    align-items: center;
    padding: 0 20px;
    width: 620px;
    /* overflow: hidden; */
    /* margin: 0 auto; */
    overflow-x: auto;
}

.tool > *{
    height: 40px;
    width: 40px;
    background-color:#fff;
    margin: 5px;
    font-size: 20px;
    padding: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#save{
    margin-left: auto;
}

.container{
    display: flex;
    justify-content:center;
    width: 100%;
}
/*  */

canvas{
    /* width: 600px;
    height: 800px; */
    
    border: 1px solid #000;
}